.each-todo {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 5px;
  padding-left: 10px;
  border-radius: 20px;
  margin: 5px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
.delete-todo-button {
  align-self: center;
  background-color: #4f46e5;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
